<div class="playlists m-1">
    <div class="row m-0">
        <div *ngFor="let list of myPlaylists" class="col-6 col-md-4 shadow rounded" (click)="playList(list)">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex image-container  align-items-center justify-content-center">
                        <img class="rounded" width="32px" [src]="list?.songs[0].image">
                    </div>
                </div>
                <div class="col-6 details">
                    <h6 class="p-0 m-0">{{list?.name}}</h6>
                    <p class="p-0 m-0">{{list?.songs?.length}}</p>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-center align-items-center play">
                        <i class="bi bi-play play-song"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>