.playlists {
  color: var(--color-primary);
  cursor: pointer;

  .bi-play {
    font-size: 30px;
  }
}

.image-container,
.play {
  height: 100%;
  width: 100%;
}

.details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
