<div class="add-to-playlist p-4">
    <div class="modal-body">
        <form (submit)="onSubmit()">
            <div class="row">
                <div class="colo-12">
                    <h5>Please choose a playlist to add to</h5>
                </div>

                <div class="col-12 mb-3" *ngIf="playlists?.length">
                    <div class="d-flex text-start available-lists">
                        <select name="selectedPlaylist" [(ngModel)]="selectedPlaylist" class="form-select" aria-label="Default select example">
                            <option selected>Select playlist</option>
                            <option [ngValue]="list" *ngFor="let list of playlists">
                                <span>{{list.name}}</span>
                                <span class="badge bg-primary"> - {{list.songs.length}} Songs</span>
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <h6 *ngIf="playlists?.length">Or</h6>
            <div class="row">
                <div class="col-12">
                    <input placeholder="Choose a new playlist name" class="form-control" name="newPlaylist"
                        [(ngModel)]="newPlaylistName">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Add to playlist</button>
                </div>
            </div>
        </form>
    </div>
</div>