<ng-container>
    <app-joke [joke]="joke" *ngFor="let joke of jokes"></app-joke>
    <div *ngIf="!jokes?.length || isLoading" class="d-flex justify-content-center mt-3">
        <div class="spinner-grow text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <button *ngIf="jokes?.length" (click)="getJoke()" class="btn btn-primary mt-3" type="button">
        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
        </span>
        {{isLoading? 'Loading...': 'One more'}}
    </button>
</ng-container>