.header {
  padding: 5px;
  background-color: var(--color-primary);
  color: var(--color-primary-text);

  a {
    text-decoration: none;
  }
  .navbar {
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }
}
