<section class="page-section-content">
    <div class="container position-relative">
        <div class="row gy-5" data-aos="fade-in">
            <div
                class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
                <h2 class="mb-4">Hi I'm <i>Caprice</i></h2>
                <h5>The most beautiful thing in the world is a smiling face.</h5>
                <h5>Give me a chance to bring one to your face.</h5>
                <div class="mt-4 d-flex justify-content-center justify-content-lg-start">
                    <button routerLink="/cheer-me-up" class="btn btn-primary shadow rounded">Get Started</button>
                </div>
            </div>
            <div class="col-lg-7 order-1 order-lg-2">
                <img src="assets/images/laughing_ai.png" class="img-fluid" alt="AI Laugh" />
            </div>
        </div>
    </div>

    <div class="fun-options position-relative">
        <div class="container position-relative">
            <div class="row gy-4 mt-5">
                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="fun-option">
                        <i class="bi bi-music-note-beamed"></i>
                        <h4 class="title">
                            Mood music
                        </h4>
                    </div>
                </div>


                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="fun-option">
                        <i class="bi bi-emoji-laughing"></i>
                        <h4 class="title">
                            <span class="stretched-link">Jokes</span>
                        </h4>
                    </div>
                </div>


                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="fun-option">
                        <i class="bi bi-emoji-wink"></i>
                        <h4 class="title">
                            Funny memes
                        </h4>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="fun-option">
                        <i class="bi bi-image"></i>
                        <h4 class="title">
                            AI Art
                        </h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>