.audio-player {
  background-color: #dddddd;
  padding: 2px;
  border-radius: 15px;

  .image {
    background-image: url(/assets/images/audio_player.jpeg);
    min-height: 100px;
    background-size: 100% 100%;
  }
  .player-controls {
    font-size: 30px;
  }
}
