<ng-template #handSignals let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Hand singnals to control playing music</h5>
        <button type="button" (click)="modal.close()" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row gesture-controls">
            <div class="col-4">
                <img width="30px" src="/assets/images/victory.svg" />
                <p>Victory sign : Play</p>
            </div>
            <div class="col-4">
                <img width="30px" src="/assets/images/open_palm.svg" />
                <p>Open palm : Pause</p>
            </div>
            <div class="col-4">
                <img width="30px" src="/assets/images/fist.svg" />
                <p>Fist : Next track</p>
            </div>
            <div class="col-4">
                <i class="bi bi-hand-thumbs-up"></i>
                <p>Thumbs up: previous track</p>
            </div>
            <div class="col-4">
                <i class="bi bi-hand-index"></i>
                <p>Point up: Volume up</p>
            </div>
            <div class="col-4">
                <i class="bi bi-hand-thumbs-down"></i>
                <p>Thumbs down: Volume down</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="modal.close()" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    </div>
</ng-template>
<button (click)="showHandSingnals()" type="button" class="btn btn-primary mb-1" data-bs-toggle="modal"
    data-bs-target="#handSingnaControls">
    Music control hand singnals
</button>
<div class="row">
    <div class="col-12">
        <app-playlists></app-playlists>
    </div>
</div>

<div *ngIf="!educating" class="audio-player">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2">
            <div class="image" [style.background-image]="'url('+audio.image+')'"></div>
        </div>
        <div class="col-12 col-md-9 col-lg-10">
            <div class="row audio-detail">
                <div class="col-9 pt-2">
                    <h6 class="m-0 p-0">{{audio?.name}}</h6>
                </div>
                <div class="col-3 text-end">
                    <p (click)="addToPlaylist()" class="badge bg-primary cursor-pointer "><span
                            class="bi bi-bookmark-plus mr-2"></span>Playlist</p>
                </div>
                <div class="col-12">
                    <div class="row timing ">
                        <div class="col-12 duration">{{duration}}</div>
                    </div>
                </div>
            </div>
            <div class="row audio-progress">
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar" [style.width]="playedTime"></div>
                    </div>
                </div>
            </div>
            <div class="row player-controls">
                <div class="col-2 d-flex justify-content-center">
                    <i (click)="previous()" class="bi bi-skip-backward"></i>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <i class="bi" (click)="playPause()"
                        [ngClass]="{'bi-play': !isPlaying,'bi-pause-circle': isPlaying}"></i>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <i (click)="next()" class="bi bi-skip-forward"></i>
                </div>
                <div class="col-6">
                    <div class="volume-controls d-flex align-items-center position-relative ">
                        <i (click)="volume = 0" class="bi"
                            [ngClass]="{'bi-volume-up': volume > 0 ,'bi-volume-mute': volume === 0}"></i>
                        <input #volumeRange [(ngModel)]="volume" (change)="volumeChange()" type="range" min="0" max="10"
                            class="form-range" id="volume">
                        <span [style.width]="activeVolumeWidth" class="active-volume"></span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<audio #audioref (play)="isPlaying  = true" (pause)="isPlaying = false" (timeupdate)="playTimeUpdated()"
    preload="metadata" [src]="audio?.uri || audio?.mediaUrl || audio?.link" (ended)="onEnd()"></audio>