.page-section-content {
  padding-bottom: 15px;
  padding-top: 15px;

  .fun-div {
    background-color: transparent;
    padding-top: 10px;
  }
  .nav-link {
    color: var(--color-primary-text);

    &.active {
      background-color: transparent;
    }
  }

  .form-label{
    color: var(--color-primary-text);
  }
}
