<section class="page-section-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <app-video></app-video>
            </div>
            <div class="col-12 col-lg-6 order-2 order-lg-1 card shadow rounded fun-div">
                <div *ngIf="!videoDetectedEmotion" class="d-flex justify-content-center align-items-center column">
                    <div class="spinner-border text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <h6 class="mt-2">Getting things ready for you...</h6>
                </div>
                <ng-container *ngIf="videoDetectedEmotion">
                    <ul ngbNav #nav="ngbNav" class="nav nav-tabs" (activeIdChange)="tabChange($event)">
                        <li [ngbNavItem]="1" class="nav-item">
                            <a ngbNavLink class="nav-link">Music</a>
                            <ng-template ngbNavContent>
                                <div *ngIf="activeTab === 1" class="card rounded shadow mt-2 mb-3">
                                    <div class="card-body">
                                        <div class=" row mb-2">
                                            <div class="col-12">
                                                <form (submit)="searchSong()">
                                                    <div class="mb-2 d-flex justify-content-between">
                                                        <input name="songName" type="text" [(ngModel)]="songName"
                                                            class="form-control" id="songName"
                                                            placeholder="Search, click and hold the mic button to speak">
                                                        <button (mouseup)="micMouseUp()" (mousedown)="micMouseDown()"
                                                            class="btn btn-primary mic" type="button"
                                                            ngbPopover="Click and hold to speak."
                                                            triggers="mouseenter:mouseleave">
                                                            <i *ngIf="!micRecording" class="bi bi-mic"></i>
                                                            <i *ngIf="micRecording" class="bi bi-mic-fill"></i>
                                                        </button>
                                                    </div>
                                                    <div class="mt-1">
                                                        <button (click)="searchSong()" class="btn btn-primary"
                                                            type="submit">
                                                            <span *ngIf="isSearchingSong"
                                                                class="spinner-grow spinner-grow-sm" role="status"
                                                                aria-hidden="true">
                                                            </span>
                                                            {{isSearchingSong? 'Searching...': 'Search'}}
                                                        </button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                        <app-audio-player [isActive]="activeTab === 1"
                                            *ngIf="songs?.length && activeTab === 1"
                                            [playingIndex]="pickedSongIndex"
                                            [audioList]="songs"></app-audio-player>
                                        <div class="song-suggestion card rounded mt-3">
                                            <div *ngFor="let song of songSuggestions;let index=index"
                                                class="row p-2 m-2 shadow rounded">
                                                <div class="col-2">
                                                    <div class="image"
                                                        [style.background-image]="'url('+song?.image+')'"></div>
                                                </div>
                                                <div class="col-9">
                                                    <h6 class="m-0 p-0">{{song.name}}</h6>
                                                    <p class="m-0 p-0">{{song.by}}</p>
                                                </div>
                                                <div class="col-1">
                                                    <i class="bi bi-play play-song" (click)="playSong(index)"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" class="nav-item">
                            <a ngbNavLink class="nav-link">Jokes</a>
                            <ng-template ngbNavContent>
                                <div class="row mb-3" *ngIf="activeTab === 2">
                                    <div class="col-12">
                                        <app-jokes></app-jokes>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="3" class="nav-item">
                            <a ngbNavLink class="nav-link">Memes</a>
                            <ng-template ngbNavContent>
                                <div class="row mb-3" *ngIf="activeTab === 3">
                                    <div class="col-12">
                                        <app-memes></app-memes>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="4" class="nav-item">
                            <a ngbNavLink class="nav-link">AI Images</a>
                            <ng-template ngbNavContent>
                                <div class="row mb-3" *ngIf="activeTab === 4">
                                    <div class="col-12">
                                        <app-create-art></app-create-art>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </ng-container>

            </div>

        </div>
    </div>
</section>