<div class="card shadow mt-3">
    <div class="card-body">
        <div class="card-title">
            <h5>Here is a {{joke.category}} one</h5>
            <ng-container *ngIf="joke.type === type.TwoPart">
                <p class="card-text">
                    <span>{{joke.setup}}</span>
                </p>
                <p class="card-text">
                    <span>{{joke.delivery}}</span>
                </p>
            </ng-container>
            <p class="card-text" *ngIf="joke.type === type.Single">
                <span>{{joke.joke}}</span>
            </p>
        </div>
    </div>
</div>