<ng-container>
    <div class="position-relative shadow rounded">
        <video #video autoplay class="shadow rounded"></video>
        <canvas class="rounded" *ngIf="isCameraActive" #canvas id="canvas" [width]="videoElement?.clientWidth"
            [height]="videoElement?.clientHeight"></canvas>
        <!-- <canvas *ngIf="isCameraActive" #gestureCanvas id="gestureCanvas" [width]="videoElement?.clientWidth"
            [height]="videoElement?.clientHeight"></canvas> -->
        <div *ngIf="!isCameraActive" class="not-recording d-flex align-items-center justify-content-center">
            <i class="bi bi-camera-video-off"></i>
        </div>
        <div *ngIf="videoMessage" class="vide-processing-message d-flex justify-content-center">{{videoMessage}}</div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <p class="" *ngIf="videoExpression">Video Facial expression detected <br><span
                    class="expression badge bg-primary card shadow">
                    {{videoExpression | uppercase}}
                </span>
            </p>
            <p class="" *ngIf="textExpression">How are you feeling deduced emotion<br /> {{textExpression}}</p>
        </div>
        <div *ngIf="videoExpression" class="col-12">
            <button type="button" class="btn btn-light" (click)="toggleMesh()">{{showMesh?'Hide': 'Draw'}} face
                mesh</button>
        </div>
    </div>
</ng-container>