/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

:root {
  --color-primary: #1d6d86;
  --color-primary-text: #effaf6;
}

body {
  color: var(--color-primary-text);
}
.page-section-content {
  width: 100%;
  position: relative;
  background: var(--color-primary);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
