/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

$color-primary: #1d6d86;

:root {
  --color-primary: #1d6d86;
  --color-primary-text: #effaf6;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.btn-primary {
  @extend .bg-primary;
  border-color: var(--color-primary-text);
}

body {
  color: var(--color-primary-text);
}
.page-section-content {
  width: 100%;
  position: relative;
  background: var(--color-primary);
}

.form-range::-webkit-slider-thumb {
  background: var(--color-primary);
  &:active {
    background: var(--color-primary);
  }
}
.form-range::-moz-range-thumb {
  &:active {
    background: var(--color-primary);
  }
  background: var(--color-primary);
}

.form-range::-ms-thumb {
  background: var(--color-primary);
  &:active {
    background: var(--color-primary);
  }
}
input[type="range"] {
  &.form-range {
    &::-webkit-slider-runnable-track {
      background-color: rgba(#1d6d86, 0.4);
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.btn-outline-primary {
  color: $color-primary;

  &:hover {
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
.modal-title {
  color: var(--color-primary);
}
