<div class="card shadow mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="artDescription" class="form-label">Image Description</label>
                    <input type="text" [(ngModel)]="description" class="form-control" id="artDescription"
                        placeholder="Describe your image">
                </div>
                <div class="mt-2">
                    <button (click)="generateImage()" class="btn btn-primary" type="button">
                        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                        </span>
                        {{isLoading? 'Loading...': 'Generate art'}}
                    </button>
                </div>
            </div>
            <div class="col-12 mt-2">
                <img *ngIf="src" class="art-img" [src]="src" alt="Art" />
            </div>
        </div>
    </div>
</div>