<div class="card shadow mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="mb-3 d-flex justify-content-between">
                    <!-- <label for="artDescription" class="form-label">Art Description</label> -->
                    <input type="text" [(ngModel)]="description" class="form-control" id="artDescription"
                        placeholder="Describe what you want me to visualize">
                    <button (mouseup)="micMouseUp()" (mousedown)="micMouseDown()" class="btn btn-primary mic"
                        type="button" ngbPopover="Click and hold to speak." triggers="mouseenter:mouseleave">
                        <i *ngIf="!micRecording" class="bi bi-mic"></i>
                        <i *ngIf="micRecording" class="bi bi-mic-fill"></i>
                    </button>
                </div>
                <div class="mt-2">
                    <button (click)="generateImage()" class="btn btn-primary" type="button">
                        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
                        </span>
                        {{isLoading? 'Loading...': 'Generate art'}}
                    </button>
                </div>
            </div>
            <div class="col-12 mt-2">
                <img *ngIf="src" class="art-img" [src]="src" alt="Art" />
            </div>
        </div>
    </div>
</div>